apiVersion: apps/v1
kind: Deployment # Kubernetes resource kind we are creating
metadata:
  name: information-service
spec:
  selector:
    matchLabels:
      app: information-service
  replicas: 1 # Number of replicas that will be created for this deployment
  template:
    metadata:
      labels:
        app: information-service
    spec:
      containers:
        - name: information-service
          image: information-service # Image that will be used to containers in the cluster
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 3307 # The port that the container is running on in the cluster